Repository RemyKroese/GenEC: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: end-of-file-fixer
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: check-yaml
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        args: [--count, --show-source, --statistics]
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [.]
        pass_filenames: false
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: pylint-production
        name: pylint (production code)
        entry: uv run pylint
        language: system
        files: ^GenEC/.*\.py$
        args: [--score=yes]

      - id: pylint-tests
        name: pylint (test code)
        entry: uv run pylint
        language: system
        files: ^tests/.*\.py$
        args: [--rcfile=tests/.pylintrc, --score=yes]
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: pytest-with-coverage
        name: pytest with coverage (‚â•90%)
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -c
          - |
            echo "üß™ Running tests with coverage requirements..."
            uv run pytest --cov=. --cov-branch --cov-fail-under=90 --cov-report=term-missing --tb=short
            exit_code=$?
            if [ $exit_code -ne 0 ]; then
              echo "‚ùå Tests failed or coverage below 90%"
              exit $exit_code
            fi
            echo "‚úÖ All tests passed with coverage ‚â•90%"
        files: \.(py)$

Finalize configuration docs MVP
  docs/configuration/advanced-options.md
  docs/configuration/comparison.md
  docs/configuration/output-formats.md
  docs/configuration/preset-list.md
  docs/configuration/preset.md
  docs/overview.md
  docs/workflows/preset.md
Due: none

Finalize doc overview, setup and workflows MVP
  README.md
  docs/overview.md
  docs/setup.md
  docs/workflows/basic.md
  docs/workflows/preset-list.md
  docs/workflows/preset.md
Due: none

Update README.md for 1.0.0 release
  README.md
Due: none

Docs - Remove structural redundancies
  .gitignore
  README.md
  docs/README.md
  docs/configuration/advanced-options.md
  docs/configuration/comparison.md
  docs/configuration/output-formats.md
  docs/filters/positional.md
  docs/filters/regex-list.md
  docs/filters/regex.md
  docs/setup.md
  docs/workflows/basic.md
  docs/workflows/preset-list.md
  docs/workflows/preset.md
Due: none

Reorder filter types and remove unsupported ones for 1.0.0
  GenEC/core/config_manager.py
  GenEC/core/specs.py
  tests/system_tests/test_basic_workflow.py
  tests/unit_tests/test_extractor.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Optimize quick navigation table
  README.md
Due: none

Minor documentation changes
  README.md
  docs/overview.md
Due: none

Format CLI prints
  GenEC/core/prompts.py
  GenEC/utils.py
Due: flake8, mypy, pylint-production, pytest-with-coverage

Create new example preset and preset-list files
  GenEC/presets/example_preset-list.yaml
  GenEC/presets/example_preset.yaml
  GenEC/presets/sample_preset.yaml
  GenEC/presets/sample_preset_list.yaml
  docs/configuration/preset-list.md
  docs/configuration/preset.md
Due: none

Update basic result quick start demo screenshot
  docs/demos/quick_start/basic_result.png
  docs/workflows/preset-list.md
Due: none

Configuration builder + factory MVP
  GenEC/core/analyze.py
  GenEC/core/config_manager.py
  GenEC/core/configuration.py
  GenEC/core/configuration_builder.py
  GenEC/core/configuration_factory.py
  GenEC/core/extraction_filters.py
  GenEC/core/workflows.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Configuration builder + factory MVP - fix linter
  GenEC/core/config_manager.py
  GenEC/core/configuration_builder.py
  GenEC/core/configuration_factory.py
  GenEC/core/extraction_filters.py
  GenEC/utils.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_extraction_filters.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

remove deprecated configuration creation implementation
  GenEC/core/analyze.py
  GenEC/core/config_manager.py
  GenEC/core/configuration.py
  GenEC/core/configuration_builder.py
  GenEC/core/configuration_factory.py
  GenEC/core/extraction_filters.py
  GenEC/core/input_strategies.py
  GenEC/core/prompts.py
  GenEC/core/types/preset_config.py
  GenEC/core/workflows.py
  GenEC/utils.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_extraction_filters.py
  tests/unit_tests/test_extractor.py
  tests/unit_tests/test_input_strategies.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

configuration builder unit tests + refactoring
  GenEC/core/configuration_builder.py
  GenEC/core/configuration_factory.py
  GenEC/core/prompts.py
  tests/unit_tests/test_configuration_builder.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

configuration factory unit tests + refactoring
  GenEC/core/config_manager.py
  GenEC/core/configuration_builder.py
  GenEC/core/configuration_factory.py
  GenEC/core/prompts.py
  GenEC/core/specs.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/system_tests/test_basic_workflow.py
  tests/unit_tests/test_configuration_builder.py
  tests/unit_tests/test_configuration_factory.py
  tests/unit_tests/test_output_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

refactor analyze.py from new Config MVP
  GenEC/core/analyze.py
Due: flake8, mypy, pylint-production, pytest-with-coverage

Update feature templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

rename config_manager to configuration_manager
  GenEC/core/configuration_factory.py
  GenEC/core/configuration_manager.py
  GenEC/core/workflows.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_configuration_factory.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

configuration manager abstract class template
  GenEC/core/configuration_manager.py
Due: flake8, mypy, pylint-production, pytest-with-coverage

Create derived configuration manager classes
  GenEC/core/configuration_factory.py
  GenEC/core/configuration_manager.py
  GenEC/core/prompts.py
  GenEC/core/workflows.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_configuration_factory.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

preset-list skip nonexisting files + conditional data processing logic
  GenEC/core/output_manager.py
  GenEC/core/prompts.py
  GenEC/core/workflows.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/integration_tests/test_shared_file_skipping.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_output_manager.py
  tests/unit_tests/test_workflows.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Improve configuration manager test coverage
  tests/integration_tests/test_configuration_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_configuration_manager.py
Due: flake8, mypy, pylint-tests, pytest-with-coverage

Standardize default presets directory in specs
  GenEC/core/configuration_manager.py
  GenEC/core/specs.py
  GenEC/main.py
  tests/unit_tests/test_configuration_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

update preset-list documentation with missing input handling
  docs/workflows/preset-list.md
Due: none

Add conditional CLI printing for preset-list
  GenEC/core/prompts.py
  GenEC/core/workflows.py
  GenEC/main.py
  README.md
  docs/workflows/preset-list.md
  tests/integration_tests/test_shared_file_skipping.py
  tests/unit_tests/test_workflows.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage
