Repository RemyKroese/GenEC: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

flake8:
  name: flake8
  entry: uv run flake8
  language: system
  args:
  - --count
  - --show-source
  - --statistics

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - .
  pass_filenames: false

pylint-production:
  name: pylint (production code)
  entry: uv run pylint
  language: system
  args:
  - --score=yes

pylint-tests:
  name: pylint (test code)
  entry: uv run pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc
  - --score=yes

pytest-with-coverage:
  name: pytest with coverage (‚â•90%)
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Finalize system test refactoring
  tests/system_tests/assets/input/source/regex_input_1.txt
  tests/system_tests/assets/input/source/regex_input_2.txt
  tests/system_tests/assets/input/source/regex_input_3.txt
  tests/system_tests/assets/input/source/regex_input_4.txt
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_1/result.csv
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_1/result.json
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_1/result.txt
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_1/result.yaml
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_2/result.csv
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_2/result.json
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_2/result.txt
  tests/system_tests/assets/preset_list_expected_output_regex/extract_and_compare/assets/group_2/result.yaml
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_1/result.csv
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_1/result.json
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_1/result.txt
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_1/result.yaml
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_2/result.csv
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_2/result.json
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_2/result.txt
  tests/system_tests/assets/preset_list_expected_output_regex/extract_only/assets/group_2/result.yaml
  tests/system_tests/test_basic_workflow.py
  tests/system_tests/test_preset_list_workflow.py
  tests/system_tests/test_preset_workflow.py
  tests/system_tests/test_preset_workflow_new.py
Due: flake8, mypy, pylint-tests, pytest-with-coverage

Remove redundant test file
  tests/system_tests/test_preset_workflow_new.py
Due: flake8, mypy, pylint-tests, pytest-with-coverage

Fix positional filter type typing
  GenEC/core/config_manager.py
  GenEC/core/types/preset_config.py
  GenEC/presets/sample_preset.yaml
Due: flake8, mypy, pylint-production, pytest-with-coverage

Fix preset generation bug
  GenEC/core/config_manager.py
  tests/unit_tests/test_config_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

extend basic workflow system tests with preset generation
  tests/system_tests/assets/basic_expected_output_positional/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_positional/extract_only/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex/extract_only/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex_list/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex_list/extract_only/preset.yaml
  tests/system_tests/test_basic_workflow.py
Due: flake8, mypy, pylint-tests, pytest-with-coverage

further config manager refactoring
  GenEC/core/config_manager.py
  GenEC/core/input_strategies.py
  tests/system_tests/assets/basic_expected_output_positional/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_positional/extract_only/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex/extract_only/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex_list/extract_and_compare/preset.yaml
  tests/system_tests/assets/basic_expected_output_regex_list/extract_only/preset.yaml
  tests/system_tests/test_basic_workflow.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_input_manager.py
  tests/unit_tests/test_input_strategies.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Reorder CLI prompts for config
  GenEC/core/config_manager.py
  tests/system_tests/test_basic_workflow.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Set paragraphs as default for positional filter type
  GenEC/core/config_manager.py
  GenEC/core/prompts.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_input_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Refactoring config manager tests into unit and integration
  pyproject.toml
  tests/integration_tests/__init__.py
  tests/integration_tests/test_config_manager_workflows.py
  tests/unit_tests/test_config_manager.py
  tests/unit_tests/test_input_manager.py
Due: flake8, mypy, pylint-tests, pytest-with-coverage

Add logo
  .pre-commit-config.yaml
  README.md
  docs/assets/logo/GenEC-logo-bg.png
  docs/assets/logo/GenEC-logo-transparent.png
  docs/assets/logo/GenEC-logo.ico
Due: none

Better UX for program entry
  GenEC/core/specs.py
  GenEC/main.py
  pyproject.toml
Due: flake8, mypy, pylint-production, pytest-with-coverage

Fix logo file name in README
  README.md
Due: none

Remove subtitle from README
  README.md
Due: none

Consistent error coloring
  GenEC/core/prompts.py
Due: flake8, mypy, pylint-production, pytest-with-coverage

Reorder filter types and remove unsupported ones for 1.0.0
  GenEC/core/config_manager.py
  GenEC/core/specs.py
  tests/system_tests/test_basic_workflow.py
  tests/unit_tests/test_extractor.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Docs - Remove structural redundancies
  .gitignore
  README.md
  docs/README.md
  docs/configuration/advanced-options.md
  docs/configuration/comparison.md
  docs/configuration/output-formats.md
  docs/filters/positional.md
  docs/filters/regex-list.md
  docs/filters/regex.md
  docs/setup.md
  docs/workflows/basic.md
  docs/workflows/preset-list.md
  docs/workflows/preset.md
Due: none

Finalize doc overview, setup and workflows MVP
  README.md
  docs/overview.md
  docs/setup.md
  docs/workflows/basic.md
  docs/workflows/preset-list.md
  docs/workflows/preset.md
Due: none

Finalize filters MVP
  docs/filters/positional.md
  docs/filters/regex-list.md
  docs/filters/regex.md
Due: none

Finalize configuration docs MVP
  docs/configuration/advanced-options.md
  docs/configuration/comparison.md
  docs/configuration/output-formats.md
  docs/configuration/preset-list.md
  docs/configuration/preset.md
  docs/overview.md
  docs/workflows/preset.md
Due: none

Update README.md for 1.0.0 release
  README.md
Due: none

Path conditions:
  flake8: any of: \.py$, but not: ^(tests/system_tests/assets/|docs/demos/)
  mypy: any of: \.py$, but not: ^(tests/system_tests/assets/|docs/demos/)
  pylint-production: any of: ^GenEC/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$, but not: ^(tests/system_tests/assets/|docs/demos/)
  pytest-with-coverage: any of: \.(py)$
