Repository RemyKroese/GenEC: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: end-of-file-fixer
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: check-yaml
        exclude: ^(tests/system_tests/assets/|docs/demos/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        args: [--count, --show-source, --statistics]
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [.]
        pass_filenames: false
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: pylint-production
        name: pylint (production code)
        entry: uv run pylint
        language: system
        files: ^GenEC/.*\.py$
        args: [--score=yes]

      - id: pylint-tests
        name: pylint (test code)
        entry: uv run pylint
        language: system
        files: ^tests/.*\.py$
        args: [--rcfile=tests/.pylintrc, --score=yes]
        exclude: ^(tests/system_tests/assets/|docs/demos/)

      - id: pytest-with-coverage
        name: pytest with coverage (‚â•90%)
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -c
          - |
            echo "üß™ Running tests with coverage requirements..."
            uv run pytest --cov=. --cov-branch --cov-fail-under=90 --cov-report=term-missing --tb=short
            exit_code=$?
            if [ $exit_code -ne 0 ]; then
              echo "‚ùå Tests failed or coverage below 90%"
              exit $exit_code
            fi
            echo "‚úÖ All tests passed with coverage ‚â•90%"
        files: \.(py)$

Add conditional CLI printing for preset-list
  GenEC/core/prompts.py
  GenEC/core/workflows.py
  GenEC/main.py
  README.md
  docs/workflows/preset-list.md
  tests/integration_tests/test_shared_file_skipping.py
  tests/unit_tests/test_workflows.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Add --only-show-differences parameter
  GenEC/core/analyze.py
  GenEC/core/prompts.py
  GenEC/core/workflows.py
  GenEC/main.py
  README.md
  docs/workflows/basic.md
  docs/workflows/preset-list.md
  docs/workflows/preset.md
  tests/unit_tests/test_comparer.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Add integration tests to pipeline
  .github/workflows/python-ci.yml
Due: none

Allow preset subdirectories
  GenEC/core/configuration_manager.py
  docs/configuration/preset-list.md
  docs/configuration/preset.md
  tests/integration_tests/test_configuration_manager_workflows.py
  tests/integration_tests/test_shared_file_skipping.py
  tests/unit_tests/test_configuration_manager.py
Due: flake8, mypy, pylint-production, pylint-tests, pytest-with-coverage

Bump version to 1.1.0
  GenEC/core/specs.py
Due: flake8, mypy, pylint-production, pytest-with-coverage
